@import "tailwindcss";
:root {
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --text-color: #333;
  --bg-color: #f9f9f9;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}